<div class="container therapists_index">
  <h1>Browse our therapists</h1>

  <div class="therapists_main">
    <% @therapists.each do |therapist| %>
    <div class="therapists_cards">
      <div class="therapist_card">
        <%= cl_image_tag therapist.photo.key, class:"card__img" %>
        <div class="therapist_card_info">
          <h4 class="therapists_card__header">Dr. <%= therapist.first_name %> <%= therapist.last_name %></h4>
          <p class="therapists_card__text">This is a therapist. This is a therapist. This is a therapist</p>
          <%= link_to 'View full profile', therapist_path(therapist), class: 'therapists_btn' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <%= link_to 'Back', root_path, class: 'button'%>
</div>
