<div class="container">
  <div class="show-container">
    <div class='show-card'>
      <%= cl_image_tag @therapist.photo.key %>
    </div>

    <div class='show-info'>
      <h1>Dr. <%=@therapist.first_name %> <%= @therapist.last_name %></h1>
      <h3 class="show-header">About me</h3>
        <p><%= @therapist.description %></p>
      <h3 class="show-header">Areas of expertise</h3>
        <ul>
          <li><%= @therapist.area_of_expertise %></li>
          <li>Consulting</li>
          <li>Relationships</li>
        </ul>
      <h3 class="show-header">Years of experience</h3>
        <p><%= @therapist.years_of_experience.to_i %></p>
    </div>
  </div>

  <div class='show-links'>
    <p><%= link_to "Book new booking",  new_therapist_booking_path(@therapist), class:"button" %></p>
    <p><%= link_to "Message",  new_therapist_message_path(@therapist), class:"button" %></p>
    <p><%= link_to "Back", therapists_path, class:"button" %></p>
  </div>
</div>
