<div class="row justify-content-center card-container">
  <div class="col-md-6">
    <div>
      <div class="mb-5">
        <div class="row">
          <h1 class>Book Your Next Appointment</h1>
          <p class="p-size">Simple | Streamlined | Secure</p>
          <div>
            <div class="col-md-12 form-group ">
              <%= simple_form_for [therapist, booking], url: therapist_bookings_path(therapist), method: :post do |f| %>
                <%= f.input :time, class: "booking-input" %>
                 <%= f.input :date, class: "booking-input" %>
                <%= f.submit class: "btnbooking" %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 form-group">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="submitting"></span>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="col-md-6 ">
    <p> <%= image_tag("book1.png", :alt => "booking") %></p>
  </div>
</div>
