

<div class="container-login">
  <div class="col-sm-4 col-sm-offset-4">
  <div class="form-inputs">
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
   <%= image_tag("forgot", :alt => "forgot-image", class: "img-form") %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" , class: "login-from-input" },
                    wrapper_html: { class: "form-group" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send Me A New password", class: "login-btn-forgot"  %>
  </div>
<% end %>

    <div class="form-group form-footer">
     </div>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
