<div class='container'>
  <div class='dash-grid'>
    <div class='profile-grid'>
      <p>this will be profile </p>
        <p><%= @profile.first_name %>
        <%= @profile.last_name %></p>
    </div>
    <div class='bookings-grid'>
      <p>Bookings</p>
        <% @therapist_bookings.each do |booking| %>
          <p>
            <%= booking.date %>
            <%= booking.time %>
            <%= booking.status %>
          </p>
        <% end %>

    </div>
    <div class='messages-grid'>
      <p>this will be messages</p>
    </div>
    <div class='sessions-grid'>
      <p>this will be sessions</p>
    </div>
    <div class='articles-grid'>
      <p>this will be articles</p>
    </div>
  </div>
</div>
