<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<div class="col-xl-8 stretch-card grid-margin">
  <div class="title-banner">
    <div class="d-lg-flex justify-content-between">
      <div class="mr-4">
        <h3>How are feeling today ?</h3>
        <p class="m-0">Get unlimited Therapist consultations and much more with Couch</p>
      </div>
      <%= image_tag("dash.png", :alt => "booking", class: "img-size") %>
    </div>
  </div>
</div>
<div class="container">
  <div class="dashboard">
    <div class="dashboard-top">
      <div class="dashboard-top-left">
        <h4>My Profile</h4>
        <%= cl_image_tag current_user.photo.key, class: "avatar1" %>
        <div class="therapist-name"><%= current_user.description %></div>
      </div>
      <div class="dashboard-top-right">
        <h4>Next Meeting</h4>
        <%= render "next_booking", booking: current_user.next_patient_booking %>
      </div>
    </div>
    <div class="dashboard-main">
      <div class="my-therapists">
        <h4 class="title-list">My Therapists</h4>
        <% current_user.therapists.each do |therapist| %>
          <div class="therapist-list-item">
            <%= cl_image_tag therapist.photo.key, class: "avatar1" %>
            <h4 class="therapist-name"><%= therapist.full_name %></h4>
            <div class="btn-therapist d-flex">
              <div class="theme-bg ">
                <%= link_to "Messages", new_therapist_message_path(therapist), class: "margin-btn"%>
              </div>
              <div class="theme-bg2">
                <% booking = therapist.therapist_bookings.where(patient: current_user).order(:date).first %>
                <%= link_to "Join Meeting", booking_path(booking), class: "margin-btn" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="my-bookings">
        <h4> Recent Appointments</h4>
        <table class="w-100">
          <thead>
            <tr role="row">
              <th rowspan="1" colspan="1"> Therapist </th>
              <th rowspan="1" colspan="1"> Date </th>
              <th rowspan="1" colspan="1"> Time </th>
              <th id="status-header" rowspan="1" colspan="1"> Status </th>
            </tr>
          </thead>
          <tbody>
            <% [@patient_bookings + @therapist_bookings].flatten.each do |booking| %>
              <tr class="booking-row">
                <td>
                  <%= cl_image_tag booking.therapist.photo.key, class: "avatar" %>
                  <%= booking.therapist.full_name %>
                </td>
                <td><%= booking.date.strftime("%A, %b %d") %></td>
                <td><%= booking.time.strftime("%H:%m") %></td>
               <%# <td><a href="#!" class="label theme-bg2 text-white f-12">Reject</a>
               <a href="#!" class="label theme-bg text-white f-12">Approve</a></td> %>
               <%= render 'pages/booking_actions', booking: booking %>

              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row margin-row">
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <div class="badge btn-facebook">New</div>
          <span class="iconify" data-icon="mdi:stethoscope" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Bookings</h5>
            <h5>15</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <span class="iconify" data-icon="mdi:human-child" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Thrapists</h5>
            <h5>5</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <span class="iconify" data-icon="mdi:file-document-multiple" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Reports</h5>
            <h5>45</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <span class="iconify" data-icon="mdi:calendar-clock" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Sessions</h5>
            <h5>15</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
