<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<div class="row">
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <div class="badge btn-facebook">New</div>
          <span class="iconify" data-icon="mdi:stethoscope" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Bookings</h5>
            <h5>15</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <span class="iconify" data-icon="mdi:human-child" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Thrapists</h5>
            <h5>5</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <span class="iconify" data-icon="mdi:file-document-multiple" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Reports</h5>
            <h5>45</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-sm-4 stretch-card grid-margin">
    <div class="card">
      <div class="card-body">
        <div class="text-center hospital-features">
          <span class="iconify" data-icon="mdi:calendar-clock" style="color: #ff0854;" data-width="50" data-height="50"></span>
          <i class="mdi mdi-stethoscope icon-md text-danger">
            <h5 class="font-weight-normal">Sessions</h5>
            <h5>15</h5>
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-body-wrapper">
  <div class="content-wrapper pb-0">
    <%# <div class="dashboard">
      <div class="dashboard-top"> %>
    <div class="col-xl-3 col-sm-4 stretch-card grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Doctor List</div>
          <div class="doctor-list d-flex align-items-center">
            <div>
              <% current_user.therapists.each do |therapist| %>
                <h6 class= "mb-0">
                  <%= cl_image_tag therapist.photo.key, class:"card__img" %>
                  <%= therapist.full_name %>
                </h6>
                <p class="text-small m-0">Stress Management</p>
              <% end %>
            </div>
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="d-lg-flex justify-content-between">
          <h4 class="card-title">Recent Appointments</h4>
          <div class="row">
            <thead>
              <table id="order-listing" class="table table-striped apointment-table dataTable no-footer" role="grid">
                <div class="col-sm-12">
                  <tr role="row">
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 119.602px;"> Doctore </th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 111.43px;"> Date </th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 80.18px;"> Timing </th>
                    <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 121.125px;"> Booking </th>
                  </tr>
                </thead>
                <tbody>

                <tr role="row" class="odd">
                  <td>
<% current_user.therapists.each do |therapist| %>
        <p>
          <%= cl_image_tag therapist.photo.key, class:"img" %>
          <%= therapist.full_name %>
        </p>
      <% end %>                  </td>
                  <td>
    </tbody>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class='container'>
  <div class='dash-grid'>
    <div class='profile-grid'>
      <h4>Profile </h4>
      <%= cl_image_tag @profile.photo.key, class:"avatar" %>
      <div class="dashbord-profile-name">
        <p><%= @profile.first_name %>
          <%= @profile.last_name %></p>
      </div>
    </div>
    <div class='bookings-grid'>
      <h4>Bookings</h4>
      <% if current_user.is_therapist? %>
        <% @therapist_bookings.each do |booking| %>
          <div class='book-section'>
            <p>
              <%= booking.date %>
              <%= booking.time.strftime('%H:%M') %>
              <%= render 'booking_actions', booking: booking %>
              <%= booking.status %>
            </p>
          </div>
        <% end %>
      <% else %>
        <% @patient_bookings.each do |booking| %>
          <p>
            <%= booking.date %>
            <%= booking.time.strftime('%H:%M') %>
            <%= render 'booking_actions', booking: booking %>
            <%= booking.status %>
          </p>
        <% end %>
      <% end %>
    </div>
    <div class='messages-grid'>
      <h4>Messages</h4>
      <p>Nothing to see here </p>
    </div>
    <div class='sessions-grid'>
      <h4>Sessions</h4>
      <% @past_patient_bookings.each do |booking| %>
        <%= link_to "view booking", booking_path(booking) %>
      <%end %>
      <p>Nothing to see here </p>
    </div>
    <div class='articles-grid'>
      <h4>Your Therapists</h4>
      <% current_user.therapists.each do |therapist| %>
        <p>
          <%= cl_image_tag therapist.photo.key, class:"card__img" %>
          <%= therapist.full_name %>
        </p>
      <% end %>
    </div>
  </div>
</div>
