<div class="container chatroom"
  data-controller="working-relationship-subscription"
  data-working-relationship-subscription-working-relationship-id-value="<%= @chatroom.id %>"
>
  <h1>Messenger</h1>
  <div class="messages" data-working-relationship-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div id='message-cnt'>
        <%= render "message", message: message %>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message],
  remote: true,
  html: {data: {working_relationship_subscription_target: "form"}, class: "d-flex"} do |f|
%>
    <%= f.input :content,
    label: false,
    placeholder: "Write your message here",
    wrapper_html: {class: "flex-grow-1"}
  %>
    <%= f.submit "Send", class: "btn btn-primary send-btn" %>
  <% end %>
</div>
